<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header class="headerPrincipal">

        <a href="/"> <img src="./desing/logo.png" alt="logo pizza"></a>
        <h1>LA PIZZA QUE TE GUSTA</h1>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Registrate</a></li>
            </ul>
        </nav>

    </header>


    <main>
        <h2>ACA VA SU CONTENIDO</h2>

        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla, similique eos, reiciendis natus ipsam
            autem consequuntur adipisci assumenda veritatis fugit, aperiam id aspernatur eaque maxime unde veniam
            nesciunt est!
            Facilis adipisci officiis soluta consectetur omnis, tempore ratione similique corrupti natus est
            necessitatibus blanditiis ea. Praesentium, voluptatem iure sint officiis fugit fugiat consequatur aliquid
            magni vero doloremque quibusdam nemo veniam.
            Voluptates, praesentium deserunt mollitia optio voluptatem, iusto facilis temporibus sequi unde corporis,
            quis enim eius architecto. Eaque, aliquam dignissimos? Aperiam ex alias dolorum. Sint optio explicabo
            repellat dicta quae et.00</P>

    </main>


    <footer class="footer-piza">
        <div class="conteiner-phone">
            <i class="fa-solid fa-phone"></i> <a href="tel">+54 9 388 4636451</a>
        </div>
        <h2 class="direction-f">Direccion</h2>
        <div class="conteiner-location">
            <i class="fa-solid fa-location-dot"></i>
            <h3>AV. Cabildo 230 (c.a.b.a)</h3>
        </div>
        <h2 class="Redes">Nuestras Redes</h2>
        <div class="contenedor-iconos">
            <a href=""> <i class="fa-brands fa-facebook face"></i></a>
            <a href=""><i class="fa-brands fa-instagram insta"></i></a>
            <a href=""><i class="fa-brands fa-square-pinterest pint"></i></a>
            <a href=""><i class="fa-brands fa-youtube yutub"></i></a>
            <a href=""><i class="fa-brands fa-square-whatsapp whats"></i></a>
        </div>
        <div class="contenedor-copy">
            <h2 class="sobre-nos">Sobre Nosotros</h2>
            <p>copyrigth 2023 |Todos los Derechos Reservados |Desarrollado por grupo 10</p>
        </div>

    </footer>
</body>

</html>