<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body-register">


    <header class="headerPrincipal">
        <a href="/"><img src="./desing/logo.png" alt="logo pizza"></a>
        <h1>LA PIZZA QUE TE GUSTA</h1>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Registrate</a></li>
            </ul>
        </nav>
    </header>


    <main class="main-register">

        <form class="form-register">
            <div class="conteiner-x">
                <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="conteiner-t-r">
                <h4>CREA TU CUENTA</h4>
            </div>
            <div class="conteiner-form">
                <div>
                
                    <input type="text" placeholder="Name" id="nombre">
                </div>
                <div>
                    
                    <input type="text" placeholder="Email" id="email">
                </div>
                
                <div>
                    
                    <input type="password" placeholder="password" id="password">
                </div>

                <div>
                    
                    <input type="password" placeholder="confirm your password" id="confirm">
                </div>
                <div>
                    
                    <input type="number" placeholder="Numero de Tel." id="num">
                </div>
                <div>
                    
                    <input type="text" placeholder="direction" id="direction">
                </div>
            </div>
            <div class="container-butons">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>


    </main>


    <footer class="footer-pizza">
        <div class="footer">
            <div class="direccion">
                <p>Dirección</p>
                <p>Av. Cabildo 230 (c.a.b.a)</p>
            </div>
            <div class="redes">
                <p>Sobre Nosotros</p>
                <p>Copyright 2023 Todos los derechos reservados | Desarrollado grupo 10 (the best)</p>
                <p>Nuestras Redes</p>
                <p>f@ Direccion</p>
                <p>Av. Cabildo 230 (c.a.b.a)</p>
                <p>Sobre Nosotros Copyright 2023 Todos los derechos reservados | Desarrollado grupo 10 (the best)</p>
                <p>Nuestras Redes f @</p>
            </div>
    </footer>

</body>

</html>