




















.footer-piza {
    text-align: center;
    background-color: var(--rojo);
    /* display: flex; */
}

.footer-piza .conteiner-phone {}
.footer-piza .conteiner-phone i {}
.footer-piza .conteiner-phone a {
    font-size: small;
    color: black;
}




.footer-piza .direction-f {
    display: none;
}
.footer-piza .conteiner-location {}
.footer-piza .conteiner-location i {}
.footer-piza .conteiner-location {
    height: 33px;
    margin-bottom: 16px;
    /* text-align: center; */
}
.footer-piza .contenedor-copy {
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
}
.footer-piza .contenedor-copy h2{
    display: none;
}
.footer-piza .contenedor-copy p {
    font-size: 2vw;
    /* width: 520px; */
}
.footer-piza .copy {}
.footer-piza .conteiner-location h3{
    display: inline-block;
    font-size: small;
}
.footer-piza .Redes {
    display: none;
}
.footer-piza .contenedor-iconos {
    display: flex;
    justify-content: center;
    right: 10px;
    width: 78%;
    margin: 20px;
}
.footer-piza .contenedor-iconos i {
    margin-left: 28px;
    font-size: 21px;
    margin-right: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.footer-piza .contenedor-iconos .face {
    color: var(--facebok);
    clip-path: circle();
}

.footer-piza .contenedor-iconos .insta{
    color: #fff;
    clip-path: circle();
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /* box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
}

.footer-piza .contenedor-iconos .pint {
    color: var(--pinterest);
    background-color: var(--gris);
    clip-path: circle();
}

.footer-piza .contenedor-iconos .yutub{
    color: var(--yutub);
    clip-path: circle();
}

.footer-piza .contenedor-iconos .whats {
    color: var(--wasap);
    clip-path: circle();
}

